
@{
    ViewBag.Title = "Build1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/FunctionBuild1.js"></script>
<div>
    <h3 style="color:darkblue; font-weight:bold"> XÂY DỰNG CẤU HÌNH MÁY TÍNH</h3>
    <h4> Chọn GPU</h4>
    <select id="dispGpu" name="gpu"></select>
    </br>
    </br>
    <h4> Chọn RAM</h4>
    <select id="dispRam" name="ram"></select>
    </br>
    </br>
    <h4> Chọn CPU</h4>
    <select id="dispCPU" name="cpu"></select>
    </br>
    </br>
    <h4> Chọn POWER</h4>
    <select id="dispPower" name="power"></select>
    </br>
    </br>
    <h4> Chọn MAINBROAD</h4>
    <select id="dispMainboard" name="mainboard"></select>
    </br>
    </br>
    <h4> Chọn MAINHDD</h4>
    <select id="dispHdd" name="hdd"></select>
    </br>
    </br>
    <h4> Chọn CASE</h4>
    <select id="dispCase" name="case"></select>
    </br>
    </br>
    <button class="btn btn-primary btn-lg" name="3">TÍNH TỔNG TIỀN</button>
    <h4 id="dispTongtien" name="tongtien"></h4>
    </br>

    @*<input id="nhapram" />
        <button name="m">Hien thi</button>
        <p id="idram"></p>
        <p id="nameram"></p>
        <p id="priceram"></p>*@
</div>

