
@{
    ViewBag.Title = "Build1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/FunctionBuild1.js"></script>
<div>
    <h3 style="color:darkblue; font-weight:bold"> XÂY DỰNG CẤU HÌNH MÁY TÍNH</h3>
    <h4> Chọn GPU</h4>
    <input list="dispGpu" id="lstgpu" style="width:1000px" onclick="Test(this)" />
    <datalist id="dispGpu" style="width:1000px"></datalist>
    </br>
    </br>
    <h4> Chọn RAM</h4>
    <input list="dispRam" id="lstram" style="width:1000px" onclick="Test(this)" />
    <datalist id="dispRam" name="ram"></datalist>
    </br>
    </br>
    <h4> Chọn CPU</h4>
    <input list="dispCPU" id="lstcpu" style="width:1000px" onclick="Test(this)" />
    <datalist id="dispCPU" name="cpu"></datalist>
    </br>
    </br>
    <h4> Chọn POWER</h4>
    <input list="dispPower" id="lstpower" style="width:1000px" onclick="Test(this)" />
    <datalist id="dispPower" name="power"></datalist>
    </br>
    </br>
    <h4> Chọn MAINBROAD</h4>
    <input list="dispMainboard" id="lstmain" style="width:1000px" onclick="Test(this)" />
    <datalist id="dispMainboard" name="mainboard"></datalist>
    </br>
    </br>
    <h4> Chọn HDD</h4>
    <input list="dispHdd" id="lsthdd" style="width:1000px" onclick="Test(this)" />
    <datalist id="dispHdd" name="hdd"></datalist>
    </br>
    </br>
    <h4> Chọn CASE</h4>
    <input list="dispCase" id="lstcase" style="width:1000px" onclick="Test(this)" />
    <datalist id="dispCase" name="case" selectedIndex="0"></datalist>
    </br>
    </br>
    <button class="btn btn-primary btn-lg" id="tong" onclick="Tinhtong()">Tổng tiền</button>
    <h4 id="dispTongtien" name="tongtien"></h4>
    </br>
    @*<button onclick="Test2()">Test</button>*@
    @*<input id="nhapram" />
        <button name="m">Hien thi</button>
        <p id="idram"></p>
        <p id="nameram"></p>
        <p id="priceram"></p>*@
</div>

