
@{
    ViewBag.Title = "Ranking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/RankingList.js"></script>
<h3 style="color:darkblue; font-weight:bold">BẢNG XẾP HẠNG PHẦN CỨNG</h3>
<div class="container">
    <div class="col-md-6 col-xs-12">
        <h3> BXH CPU </h3>
        <hr/>
        <ul class="list-group" id="listCPU">
        </ul>
    </div>

    <div class="col-md-6 col-xs-12">
        <h3> BXH CARD MÀN HÌNH</h3>
        <hr/>
        <ul class="list-group" id="listGPU">
        </ul>
    </div>
</div>

